*{
	margin: 0;
	padding: 0;
}
h6{
	padding-top: 20px;
	margin-left: 230px;
	color: blue;
}
#di{
	height: 500px;
}
footer{
	background-color: #42364d;
	color: white;
	height: 90px;
	text-align: center;
#p1{
	font-size: 12pt;
}