.d1{
	border: 1px solid lightgrey;
	text-align: center;
	margin-top: 40px;
	color: #0cf50c;
}
.d2{
	height: 100px;
}
table{
	margin-top: 40px;
	border: lightgrey;
}
.cen{
	color: red;
}
.cen1{
	text-align: center;
}
