.debug {
  border: 1px solid red;
}

/**...........navbar..............*/
.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}
.text-uppercase {
  letter-spacing: 0.08em;
}

/**...........navbar ends..............*/

/*........index content........ */
.event_message_notice {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event_message_notice .event {
  flex: 0 0 25%;
  padding: 1rem;
}
.event_message_notice .message {
  flex: 1 0 50%;
}
.event_message_notice .notice {
  flex: 0 0 25%;
}
@media only screen and (max-width: 768px) {
  .event_message_notice {
    flex-direction: column;
  }
}
/*........//index content........ */
